body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
}

.js-button{
  padding: 20px;
  border-radius: 50px;
  border: 3px solid gray;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.js-button-1{
  padding: 20px;
  border-radius: 50px;
  border: 3px solid gray;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.js-button-2{
  padding: 20px;
  border-radius: 50px;
  border: 3px solid gray;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.js-button-3{
  padding: 20px;
  border-radius: 50px;
  border: 3px solid gray;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.js-button-4{
  padding: 20px;
  border-radius: 50px;
  border: 3px solid gray;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.js-button-5{
  padding: 20px;
  border-radius: 50px;
  border: 3px solid gray;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.goal {
  background-color: green;
  font-weight: bold;
  transition: 0.5s;
}

.own-goal{
  background-color: red;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}

.save-goal{
  background-color: green;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}

img {
  width: 350px;
  height: 350px;
}

